{% extends 'ASFCommerceBundle::layout.html.twig' %}

{% block title %}{{ 'asf.commerce.title.taxes_list'|trans }}{% endblock %}

{% block asf_product_content %}

	<h1>{{ 'asf.commerce.title.taxes_list'|trans }}</h1>

	<a class="btn btn-default" href="{{ path('asf_commerce_tax_add') }}" title="{{ 'asf.commerce.btn.add_tax'|trans }}">{{ 'asf.commerce.btn.add_tax'|trans }}</a>

	<div class="row">
		<div class="col-xs-12">
			{{ grid(grid) }}
		</div>
	</div>
	
{% endblock %}